main
sep-vp-tests/hmac-dv-test/hmac-dv-test
sep-vp-tests/hmac-dv-test/sep-hmac-test
sep-vp-tests/opentitan-hmac-test/opentitan-hmac-test
sep-vp-tests/opentitan-hmac-test/hmac-diag
sep-vp-tests/opentitan-hmac-test/test-uart
sep-vp-tests/opentitan-hmac-test/test_uart_simple
sep-vp-tests/otbn-dv-p256-verify-test/otbn-dv-p256-verify-test
sep-vp-tests/otbn-dv-test/otbn-dv-test
sep-vp-tests/rom_test/rom_test
sep-vp-tests/rom_test/rom_test_simple
sep-vp-tests/sep-aon-timer-test/sep-aon-timer-test
sep-vp-tests/sep-crng-test/sep-crng-test
sep-vp-tests/sep-edn-test/sep-edn-test
sep-vp-tests/sep-efuse-test/sep-efuse-test
sep-vp-tests/sep-hmac-test/sep-hmac-test
sep-vp-tests/sep-kmac-dv-test/kmac-dv-test
sep-vp-tests/sep-mailbox-test/main
sep-vp-tests/sep-spi-test/main